.hero {
    position: relative;
    height: 50vh;
    width: 100%;
    max-width: 1440px;
    margin-top: 70px; /* Adjust this value if needed to match the navbar height */
}

.carousel-inner .carousel-item {
    position: relative;
    height: 50vh;
    background-size: cover;
    background-position: center;
}

.hero-content {
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    transform: translate(0, -50%);
    color: #ffffff;
    z-index: 10;
    text-align: center;
}

.hero-content h1.display-4 {
    font-size: 1.2rem;
}

.hero-content p.lead {
    font-size: 3rem;

}

.btn-warning {
    padding: 10px 20px;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    background: #346FDD;
}

@media (max-width: 2560px) {
    .hero {
        max-width: 2560px;
    }
}